<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header className="header">
    <button className={`toggle ${MenuState ? 'active' : ''}`} onClick={HandleMenuToggle}></button>
    <section className='banner'>

    <div className='banner__slider-img'></div>

      <div className='banner__head'>
        <h5 className='banner__title'>My_Portfolio</h5>
      </div>

      <div className='banner__content'>
        <h4><span>Hello</span>,I'm</h4>
        <h2>Sysoev Pavel</h2>
        <h4>I'm Front End Web Developer</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quod ipsa possimus laudantium itaque architecto aperiam sed laboriosam, dicta fuga necessitatibus dolores aliquam quas fugiat ratione quia, ipsam quaerat natus.
        Dignissimos assumenda libero optio minus harum ratione enim hic deleniti aliquid, provident exercitationem sed omnis voluptatum voluptate perferendis expedita laboriosam quasi? Officiis, adipisci nobis in eum reiciendis quos libero consequuntur.</p>
        <a href="#" className='banner__aboutme-btn'>About Me</a>

      </div>

</body>
</html>